body {
    margin: 0;  
    font-family: Roboto, Arial;
    background-color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

input {
    outline: none;
}

.grid {
    display: grid;
    grid-template-columns: 460px 1fr;
}

@media (max-width:600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .grid > *:not(:nth-child(1)) {
        display: none;
    }
}



